PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/genome_hub
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=genome-hub-files-564002100817-us-west-2
GOOGLE_CLIENT_ID=
SESSION_SECRET=
VITE_GOOGLE_CLIENT_ID=
